fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
asyncpg
greenlet
psycopg2-binary
alembic
ipykernel
langchain
openai
python-dotenv
numpy
pandas
scipy
langchain_openai
langchain-community
langchain-core
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence-transformers
langchain-huggingface
duckdb
duckduckgo-search==5.3.1b1
langchain-groq
mysql-connector-python
validators==0.20.0
youtube_transcript_api
pytube
unstructured
numexpr
huggingface_hub
